
.zoomGallery .image-row img.small-preview{
    margin-bottom: 5px;
    cursor: pointer;
}

.zoomGallery .image-row img.small-preview:last-child{
    margin-bottom: 0;
}

.zoomGallery .image-row img.small-preview .active{
    border: 2px solid #000000;
}

.zoomGallery div.zoomed-image {
    height: 537px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 5px;
}

@media (max-width: 768px) {
    .zoomGallery .image-row img.small-preview {
        cursor: auto;
        margin-bottom: 12px;
    }

    .zoomGallery .zoomed-image {
        display: none;
    }
}
