
@media screen and (max-width: 600px) {
    .navigation-menu {
        a:not(:first-child) {
            display: none;
        }

        .icon {
            float: right;
            display: block;
        }
    }
}


@media screen and (max-width: 600px) {
    .navigation-menu.hamburger{
        position: relative;
    }
    .navigation-menu a{
        float: none;
        float: none;
        display: block;
        text-align: left;
        .icon{
            position: absolute;
            right:0;
            top: 0;
        }
    }

}


@media only screen and (max-width : 768px){
    .navigation-menu li a:not(:last-child) {display: none;}
    .navigation-menu li a.icon {
        float: right;
        display: block;
    }

    .label {
        width: 100%;
        text-align: center;
    }

    .description {
        width: 100%;
        text-align: center;
    }

    .price {
        width: 100%;
        text-align: center;
    }

    input[type="number"]{
        width: 100%;
        text-align: center;
    }

    button.add_to_cart {
        width: 100%;
        text-align: center;
    }

    .product_accordion{
        margin-bottom: 100px;
    }
}

@media only screen and (max-width: 768px) {
    .navigation-menu.hamburger {position: relative;}
    .navigation-menu.hamburger .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navigation-menu.hamburger a {
        float: none;
        display: block;
        text-align: left;
    }

}
