/* Imports */
@import "../fonts";
@import "../media_queries";

.navigation-menu {
    overflow: hidden;
    background-color: #333;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline;
    }
    a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 1px 13px;
        text-decoration: none;
        font-size: 12px;
        font-family: "San Francisco Display Medium";
    }
    .active {
        background-color: #0e254e;
        color: white;
    }

    .icon {
        display: none;
    }
}



